.left{
    margin: -21px auto;
    margin-left: -20px;
    padding: 9px;
    background-color: black;
    width: 178%;
}
.left a{
    text-decoration: none;
    color: white;
}
.left a:hover{
    background-color: red;
    text-decoration: none;
    color: white;
}
.left button{
    width: 9%;
}
.left button:hover{
    background-color: yellow;
    

}
.leftright{
    float: right;
}
.mid{
    text-decoration: none;
    height: 99px;
    background-color:black;
    display: block;
    width: 178%;
    margin: 22px auto;
    margin-left: -20px;
    top:20px;
    padding: 20px;
}
.right{
    position: absolute;
  
    right: 60px;
    top: 42%;
    display: inline-block;
    padding: 23px;
    width: 85%;
    height: 50%;
}
.navbar{
display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 17px;

}
.navbar li a{
color:white;
text-decoration: none;
padding: 27px;
}
.navbar li a:hover{
    background-color:red;
    text-decoration: none;
    width:70px;
    }    
    
.peripheral{
    color:red;
    
    width: 167%;

}
.image {
    height: 120%;
     width: 100%;

    
    }
.image a:hover{
    text-decoration: none;
    background-color: yellow;
    width:150%;
    color: tomato;
}

#myho:hover{
    height: 150px;
    width: 150px;

}

.footer{
    position: absolute;
background-color:  black;
margin-left: -20px;
bottom: -230px;
  width: 100%;
  height: 40%;
  padding: 10px;
}

.footerleft li{
    list-style-type: none;
}
.footerright li{
    list-style-type: none;
}

.footerleft li a{
    text-decoration: none;
    color: white;
    
}
.footerleft li a:hover{
background-color: red;
text-decoration: none;

}
.footerright li a{
    text-decoration: none;
    color: white;
    
}
.footerright li a:hover{
    background-color: red;
text-decoration: none;

}
.fa {
    padding: 10px;
    font-size: 70px;
    width: 72px;
    text-align: center;
    text-decoration: none;
    border-radius: 70%;
    background-color: #ffffff ;
}
.fa:hover{
    text-decoration: none;
    background-color: skyblue;
    
}

  
  body {
    font-family: Arial;
    margin: 0 auto; /* Center website */
    max-width: 800px; /* Max width */
    padding: 20px;
  }
  
  .heading {
    font-size: 25px;
    margin-right: 25px;
  }
  
  .fa {
    font-size: 100px;
  }
  
  .checked:hover {
      background-color: white;
    color: orange;
  }
 
   .pics{
      

    padding: 40px;
    width: 127%;
    margin-left: 300px;

  }
  .pics a{
    -webkit-font-smoothing: auto;
    text-decoration: none;
    color: black;
    
}
.pics a:hover{
    background-color: red;
    text-decoration: none;
    }
    .centrediv{
       
        margin-top: -2700px;
    }
    @import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap');
html,body {
    font-family: 'Raleway', sans-serif;  
}
.thankyou-page ._header {
    background: #fee028;
    padding: 100px 30px;
    text-align: center;
    background: #fee028 url(https://codexcourier.com/images/main_page.jpg) center/cover no-repeat;
}
.thankyou-page ._header .logo {
    max-width: 200px;
    margin: 0 auto 50px;
}
.thankyou-page ._header .logo img {
    width: 100%;
}
.thankyou-page ._header h1 {
    font-size: 65px;
    font-weight: 800;
    color: white;
    margin: 0;
}
.thankyou-page ._body {
    margin: -70px 0 30px;
}
.thankyou-page ._body ._box {
    margin: auto;
    max-width: 80%;
    padding: 50px;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 35px rgba(10, 10, 10,0.12);
    -moz-box-shadow: 0 0 35px rgba(10, 10, 10,0.12);
    -webkit-box-shadow: 0 0 35px rgba(10, 10, 10,0.12);
}
.thankyou-page ._body ._box h2 {
    font-size: 32px;
    font-weight: 600;
    color: #4ab74a;
}
.thankyou-page ._footer {
    text-align: center;
    padding: 50px 30px;
}

.thankyou-page ._footer .btn {
    background: #4ab74a;
    color: white;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0;
    letter-spacing: 0.8px;
    padding: 20px 33px;
    text-transform: uppercase;
}
           